.sidefilter {
  width: 300px;
  position: sticky;
  top: 0;

  background: #eee;
  overflow-x: hidden;
  padding: 8px 0;
}
@media screen and (max-width: 600px) {
  .sidefilter {
    width: 300px;
    position: relative;
    background: #eee;
    overflow-x: hidden;
    padding: 8px 0;
  }
}