body{
  font-family: Arial, Helvetica, sans-serif; 
  margin: 100px auto;
  padding: 0;
  }
  
  /**
  * Mega Menu
  */
  
  /* Generic */
  .megaMenu{
    background: #427731;
    border-top: 2px solid #6D4D24;
    color: white;
    font-size: 12px;
    height: 40px;	
    display: flex;
    align-content: space-between;
    z-index: 1;
}
  .megaMenu a{
    cursor: pointer;
    display: block;
    outline: none;
    text-decoration: none;
  }
  .megaMenu li{
    list-style: none;
    margin: 0;
    padding: 0;
    text-indent: 0;
  }
  .megaMenu ul{
    margin: 0;
    padding: 0;
  }
  .megaMenu > ul{
    margin: auto;
    position: relative;
    width: 960px;
  }
  .megaMenu > ul > li{
    border-left: 2px solid #4A8738;
    display: inline-block;
    float: left;
    height: 40px;
    margin: 0;
    padding: 0;
    position: relative;
    zoom: 1;
    *display: inline;
  }
  .megaMenu > ul > li:first-child{
    border-left: 2px solid transparent;
  }
  
  .megaMenu > ul > li:hover{		
    background: #F5F2E7;
  }
  
  .megaMenu > ul > li:hover,
  .megaMenu > ul > li:hover + li{
    border-left: 2px solid #6D4D24;
  }
  
  .megaMenu > ul > li:hover > a{
    color: #427731;
  }
  
  .megaMenu > ul > li:hover > div{
    display: block;
    top: auto;
    white-space: nowrap;
  }
  
  .megaMenu > ul > li > a{
    color: white;
    height: 100%;
    padding: 0 20px;
    text-transform: uppercase;
  }
  .megaMenu > ul > li > a > ins,
  .megaMenu > ul > li > a > span{
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
    *display: inline;
  }
  
  .megaMenu > ul > li > a > ins{
    height: 100%;
  }
  
  .megaMenu > ul > li > div{
    background: #F5F2E7;
    border: 2px solid #6D4D24;
    border-top: 0;
    display: none;
    left: -2px;
    padding: 0;
    position: absolute;
    top: auto;
  }
  
  .megaMenu > ul > li > div.left{
    left: auto;
    right: -2px;
  }
  
  .megaMenu > ul > li > div > ul{
    display: inline-block;
    padding: 10px;
    vertical-align: top;
    white-space: nowrap;
    width: auto;
    zoom: 1;
    *display: inline;
  }
  
  .megaMenu > ul > li > div > ul > li{
    margin: 4px 0;
    padding: 0;
    text-indent: 0;
  }
  
  .megaMenu > ul > li > div > ul > li.parent{
    border-top: 1px dashed #908e8e;
    margin: 4px 0 0;
    padding: 4px 0 0;
  }
  
  .megaMenu > ul > li > div > ul > li:first-child{
    border: none;
    margin: 0;
    padding: 0;
  }
  
  .megaMenu > ul > li > div > ul > li > a{
    color: #B25C11;
    font-size: 11px;
    height: auto;
    padding-left: 8px;
  }
  .megaMenu > ul > li > div > ul > li > a:hover{
    color: #006983 !important;
  }
  
  .megaMenu > ul > li > div > ul > li.parent a{
    background: none;
    color: #427731;
    font-size: 12px;
    font-weight: bold;
    padding: 0;
  }
  .megaMenu > ul > li > div > ul > li.parent:first-child a{
    border: none;
    margin: 0;
    padding: 0;
  }
  
  .megaMenu > ul > li.fold{
    font-size: 0; 
    display: block;
    height: 10px;
    right: 219px;
    position: absolute;
    top: -12px;
    width: 10px;
  }
  
  .megaMenu > ul > li.fold,
  .megaMenu > ul > li.foldOut{ border-left: none !important; }
  
  .megaMenu > ul > li.foldOut > ul{
    background: #58a618;
    height: 57px;
    position: absolute;
    top: -12px;
  }
  
  .megaMenu > ul > li.foldOut	> ul:hover *{ border-color: transparent !important; }
  
  .megaMenu > ul > li.foldOut > ul > li{
    cursor: pointer;
    display: inline-block;
    float: left;
    line-height: 14px;
    padding: 0 10px;
    vertical-align: middle;
    width: 148px;
    zoom: 1;
    *display: inline;
  }
  
  .megaMenu > ul > li.foldOut > ul > li:hover{
    background: #F5F2E7;
  }
  
  .megaMenu > ul > li.foldOut > ul > li:hover a{
    color: #427731;
  }	
  
  .megaMenu > ul > li.foldOut > ul > li > a{
    border-top: 1px solid #ccc;
    color: white;
    font-weight: bold;
    padding: 7px 0;
  }
  
  .megaMenu > ul > li.foldOut > ul > li > a > span{ float: right; }
  .megaMenu > ul > li.foldOut > ul > li:first-child > a{ border: 0; }
  
  
  
  